entidad fisica final/node red experimento 1.json
[{"id":"8dd02414.8bf9d","type":"serial in","z":"8fef16ab.e2692","name":"SensorTemperatura","serial":"477756b.5756528","x":135,"y":274.9999694824219,"wires":[["9d5b3930.60f43","16243650.df9432"]]},{"id":"b6da691f.434b9","type":"inject","z":"8fef16ab.e2692","name":"sensorDeTiempo","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":154.76190185546875,"y":475.85711669921875,"wires":[["1854805.0dd588","bef98c05.0901a"]]},{"id":"9d5b3930.60f43","type":"debug","z":"8fef16ab.e2692","name":"before format","active":false,"console":"false","complete":"payload","x":354.33331298828125,"y":213.99996948242188,"wires":[]},{"id":"16243650.df9432","type":"function","z":"8fef16ab.e2692","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\nvar presionSanguinea = [];\npresionSanguinea = new Array(2);\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\n\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\npresionSanguinea[0]=parseInt(tempArray[2]);\n\npresionSanguinea[1]=parseInt(tempArray[3]);\n\nres.payload = {\"idDispositivo\": parseInt(tempArray[0]), \n\"frecuenciaCardiaca\": parseInt(tempArray[1]),\n\"presionSanguinea\":presionSanguinea,\n\"nivelEstres\":parseInt(tempArray[4]) }\n\nreturn res;","outputs":1,"noerr":0,"x":357.33331298828125,"y":327.9999694824219,"wires":[["43b6987a.ab3068","401e6b82.a2663c"]]},{"id":"bef98c05.0901a","type":"debug","z":"8fef16ab.e2692","name":"before format","active":false,"console":"false","complete":"payload","x":343.33331298828125,"y":588.9999694824219,"wires":[]},{"id":"1854805.0dd588","type":"function","z":"8fef16ab.e2692","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\n\nreturn res;","outputs":1,"noerr":0,"x":394.1905212402344,"y":484.7142639160156,"wires":[["421102c8.309ddc","401e6b82.a2663c"]]},{"id":"43b6987a.ab3068","type":"debug","z":"8fef16ab.e2692","name":"after format","active":false,"console":"false","complete":"payload","x":627.3333129882812,"y":323.9999694824219,"wires":[]},{"id":"421102c8.309ddc","type":"debug","z":"8fef16ab.e2692","name":"after format","active":false,"console":"false","complete":"true","x":603.3333129882812,"y":506.9999694824219,"wires":[]},{"id":"401e6b82.a2663c","type":"function","z":"8fef16ab.e2692","name":"Merge 2 m","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperature != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":664.3333129882812,"y":406.9999694824219,"wires":[["9b54f027.e885d","e4fec628.665ab"]]},{"id":"9b54f027.e885d","type":"debug","z":"8fef16ab.e2692","name":"after merge","active":false,"console":"false","complete":"true","x":851.3333129882812,"y":542.9999694824219,"wires":[]},{"id":"e4fec628.665ab","type":"json","z":"8fef16ab.e2692","name":"","x":883.3333129882812,"y":411.9999694824219,"wires":[["5c4900fb.331928","5ba1b313.706984"]]},{"id":"5c4900fb.331928","type":"debug","z":"8fef16ab.e2692","name":"after format","active":false,"console":"false","complete":"true","x":1063.3333129882812,"y":412.6666564941406,"wires":[]},{"id":"5ba1b313.706984","type":"function","z":"8fef16ab.e2692","name":"alerta","func":"context.data = context.data || {};\nres={}\ntodo = msg.payload.temperature\nesEmergencia=0;\n if(todo.frecuenciaCardiaca>100 || todo.frecuenciaCardiaca<60 || \n todo.presionSanguinea[0]>120 || todo.presionSanguinea[1]<80 || todo.nivelEstres>70)\n {\n     esEmergencia=1;\n }\n var ubicacion = new Array(2);\n ubicacion[0]=2*todo.frecuenciaCardiaca;\n ubicacion[1]=-3*todo.frecuenciaCardiaca;\nres.payload={\"idDispositivo\":todo.idDispositivo,\n    \"fecha\":msg.payload.sensetime,\n    \"frecuenciaCardica\":todo.frecuenciaCardiaca,\n    \"esEmergencia\": esEmergencia,\n    \"presionSanguinea\":todo.presionSanguinea,\n    \"nivelEstres\":todo.nivelEstres,\n    \"ubicacion\":ubicacion,\n    \"tipo\":esEmergencia\n}\n res.headers = {'content-type':'application/json'};\nreturn res;","outputs":1,"noerr":0,"x":1085.0000610351562,"y":354.6665954589844,"wires":[["7a3a6fcd.518b3","97123023.d327b8"]]},{"id":"7a3a6fcd.518b3","type":"debug","z":"8fef16ab.e2692","name":"after alerta","active":false,"console":"false","complete":"true","x":1144.3333129882812,"y":219.99996948242188,"wires":[]},{"id":"97123023.d327b8","type":"http request","z":"8fef16ab.e2692","name":"","method":"POST","ret":"txt","url":"http://localhost:8080/servidor/api/alertas/1","tls":"","x":1298.3333129882812,"y":402.9999694824219,"wires":[[]]},{"id":"477756b.5756528","type":"serial-port","z":"","serialport":"COM3","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]